<div class="pr">
  <div class="container mb-3">
    <form class="form-inline" role="form">
      <button ng-click="addNew()" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-plus"></span>
      <span translate="products.ADDANEW">Add a New</span>
      </button>
      <div class="form-group">
        <label class="sr-only" for="search">Search..</label>
        <input type="text" class="form-control" id="search" placeholder="Type to Search.." ng-model="querytext">
      </div>
    </form>
  </div>
</div>
<div class="wrapper_10px">
  <div ng-hide="products.length">
    <span>No Product Found !</span>
  </div>
  <div class="products" ng-show="products.length">
    <table class="footable table toggle-circle" ui-jq="footable" data-filter="#filter"
           data-page-size="5">
      <thead>
      <tr>
        <th>ID</th>
        <th data-toggle="true">
          Name
        </th>
        <th>
          Price
        </th>
        <th>
          Stocks
        </th>
        <th data-hide="all">
          Manufacturer
        </th>
        <th data-hide="phone,tablet">
          Last Updated
        </th>
        <th>
          Description
        </th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="product in products | filter:querytext">
        <td ng-bind="product.id"></td>
        <td ng-bind="product.name"></td>
        <td ng-bind="product.price | currency"></td>
        <td ng-bind="product.stocks"></td>
        <td
          ng-bind="product.manufacturer"></td>
        <td
          ng-bind="product.updatedAt | date:'MM-dd-yyyy h:mma'"></td>
        <td
          ng-bind="product.description"></td>
        <td>
          <button class="btn btn-primary btn-xs" ng-click="edit(product)"><span
            class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger btn-xs" ng-click="delete(product)"><span
            class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


